extends layout

block content
    .container-fluid
        .row
            .col-12.d-flex.align-items-center.flex-row
                img.m-3.align-self-start(src='/images/qcfirst.png' width='110' alt='qcfirst')
                .flex-grow-1.text-center.pr-5
                    h3.mb-4.pr-5 Course Management

    .container
        .row.justify-content-between.my-5
            .col-md-6
                .card.bg-light
                    .card-body
                        .card-title.mb-4.font-weight-bold
                            | Add
                        form
                            .form-group
                                label Course name:
                                input#course-name.form-control(type='text' name='course')
                            .form-group
                                label Department
                                select#department.form-control(name='dep')
                                    option(value='physics')
                                    | PHYS
                                    option(value='math')
                                    | MATH
                                    option(value='chemistry')
                                    | CHEM
                            .form-group
                                label(for='course-num') Course number:
                                input#course-num.form-control(type='text' name='course')
                            .form-group
                                label Capacity:
                                input#cap.form-control(type='text' name='capacity')
                            .form-group
                                label(for='semester') Semester
                                select#semester.form-control(name='sem')
                                    option(value='spring')
                                    | Spring
                                    option(value='fall')
                                    | Fall
                                    option(value='summer')
                                    | Summer
                            .form-group
                                label(for='date') Enrollment date:
                                input#date.form-control(type='date' name='enrollment date')
                            .form-group
                                label(for='des') Enrollment date:
                                textarea#des.form-control Course description
                            .form-group
                                button.btn.btn-outline-success.btn-rounded(type='submit') Create
                                
            .col-md-6
                .card.bg-light
                    .card-body
                        .card-title.mb-4.font-weight-bold
                            | Remove
                        form
                            .form-group
                            label Course name:
                            input#name-remove.form-control(type='text' name='course')
                            .form-group
                            label Department
                            select#department-remove.form-control(name='dep-rem')
                                option(value='physics')
                                | PHYS
                            .form-group
            a.btn.btn-info.text-light.btn-rounded.my-5(href="/users/logout") Logout