doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title QCFIRST
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/style.css')
body.d-flex.flex-column.justify-content-between.h-100vh
  block content
  .container
    div.row.justify-content-center
      div.col-md-6
        if(messages.error)
          div.alert.alert-danger!=messages.error
        if(messages.success)
          div.alert.alert-success!=messages.success
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')

  footer.bg-light.mt-5.border
    .container
      .row.justify-content-between.align-items-center.pt-3
        .col-md-3
          p 2021 copyright
        .col-md-3
          p.ml-0
            a.text-muted(href='/') Home
        .col-md-3
          .d-flex.justify-content-end
            p.ml-0
              a.text-muted(href='https://www.facebook.com') Facebook
            p.ml-2
              a.text-muted(href='https://www.twitter.com') Twitter
            p.ml-2
              a.text-muted(href='https://www.linkedin.com') LinkedIn
